body {
    background-color: black;
    font-family: 'Russo One', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


h1 {
    font-size: 2.5em;
    /* text-shadow: 2px 2px blue; */
    text-align: left;
    letter-spacing: 5px;
}

h2, h3, h4 {
    /* text-shadow: 2px 2px blue; */
    text-align: center;
    letter-spacing: 4px;
}

ul {
    list-style-type: none;
    line-height: 1.6;
}

li {
    padding-top: 1em;
    letter-spacing: 2px;
}

p {
    letter-spacing: 2px;
    line-height: 2;
    text-align: justify;
}

svg {
    height:60px;
    width:60px;
}

.headline {
    min-width: 500px;
    max-width: 500px;
}

.socials {
    text-align: center;
}

.core {
    margin:auto;
    margin-top: 25px;
    text-align: center;
}

.bullet {
    position:relative;
    display:flex;
    flex-direction: left;
    right: 70px;
    top: 110px;
    margin-left: 0px;
}

.card {
    /* background: rgb(39,17,149);
    background: linear-gradient(45deg, rgba(39,17,149,0.8743455497382199) 0%, rgba(126,60,155,0.918848167539267) 0%, rgba(80,9,121,1) 100%, rgba(227,170,230,0.887434554973822) 100%);
    box-shadow: 6px 6px 20px 5px rgba(51,60,255,0.64); */
    border-radius: 5px;
    padding:1.5em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 100px;
    height: 5px;
}

.card-details {
    background: rgb(32,31,32);
background:  linear-gradient(209.91deg, rgba(130, 25, 25, 0.81) 34.6%, rgba(35, 32, 32, 0.65) 58.49%, #100F0F 98.73%);
    border-radius: 10px;
    min-height: 95%;
    min-width: 400px;
    max-width: max-content;
    padding: 3em;
    text-align: right;
    margin-left:2px;
    margin-right: 35px;
}

.main {
    z-index: 5;
    display:grid;
    color: #ffffff;
    grid-template-columns: repeat(6, 0.5fr);
    grid-auto-rows: minmax(150px, 200px);
    gap: 2em;

}

#calltoact {
    grid-column: 2/4;
    grid-row: 3;
}

.button {
    margin: 60px 0px 0px 60px;
    display:block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #100F57;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:large;
    border-radius: 10px;
    border-style:none;
    text-decoration: none;
}

.button:hover {
    box-shadow:2px 1px 10px white;
}

.bordered {
    margin-top:2px;
    padding-left:20%;
    color: #d4d4ff;
    border-top: 1px dotted grey;
    border-bottom: 2px solid grey;
}

.bordered > p {
    text-shadow: 2px 2px 2px #a655ff;
    margin-bottom:40px;
}

.header {
    grid-column: 2/6;
    grid-row: 1;

}

.skills {
    grid-column: 3/5;
    grid-row: 6;
}

.services {
    grid-column: 3/5;
    grid-row: 8;
}